@model TravelAdvisor.Web.Models.Account.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@section styles {
	@Styles.Render("~/Content/Views/Account/register.css")
}

<section id="registration" class="col-md-4">
	@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
	{
		@Html.AntiForgeryToken()
		<div class="form-box col-md-12">
			<div class="form-top">
				<div class="form-top-left">
					<h3>Register now</h3>
					<p>Fill in the form below:</p>
				</div>
				<div class="form-top-right">
					<i class="fa fa-pencil-square-o"></i>
				</div>
			</div>
			<div class="form-bottom">
				<div class="form-group">
					<div class="col-md-12">
						@Html.DropDownListFor(Model => Model.UserRole, new SelectList(new List<string> { "RegularUser", "Admin" }), 
								new { @class = "form-control"})
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						@Html.LabelFor(m => m.Email, new { @class = "control-label" })
						@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						@Html.LabelFor(m => m.Password, new { @class = "control-label" })
						@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
						@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<input type="submit" class="btn btn-register" value="Register" />
					</div>
				</div>
			</div>
		</div>
	}
</section>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
