@model TravelAdvisor.Web.Models.Trips.TripsListViewModel


@foreach (var item in Model.Trips)
{
	<div class="flex">
		<figure>
			<a href="" target="_blank">
				@if (item.ImagePath != null)
				{
					<img src="@item.ImagePath" alt="">
				}

				@if (item.ImageUrl != null)
				{
					<img src="@Url.Content(item.ImageUrl)" alt="">
				}
			</a>
		</figure>
		
		@if (User.IsInRole("RegularUser"))
		{
			<div class="parallax-content-1">
				<div class="animated fadeInDown">
					@Html.ActionLink("Add to wishlist", "AddToWishList", "Manage", new { @area = "", id = item.Id }, new { @class = "button-intro" })
				</div>
			</div>
		}

		<h4 class="col-md-12">Hotel: @item.Accomodation</h4>
		<div class="col-md-12">Description: @item.Description</div>
		<h4 class="col-md-12">Price: @item.Price$</h4>
		<h4 class="col-md-12">From: @item.StartDate.Date.ToString("dd.MM.yyy") - To: @item.EndDate.Date.ToString("dd.MM.yyy")</h4>
	</div>
}