<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Travel Advisor</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	@RenderSection("styles", required: false)
</head>
<body>
	<div id="main-nav" class="navbar navbar-inverse navbar-fixed-top collapse navbar-collapse">
		@Html.Partial("Navigation")
	</div>
    <div class="container body-content">
        @RenderBody()
        <hr />
		@Html.Partial("ContactForm")
		@Html.Partial("Footer")        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/Scripts/Views/layout.js")
    @RenderSection("scripts", required: false)
</body>
</html>
