@model TravelAdvisor.Web.Models.Destinations.DestinationsListViewModel
@{
    ViewBag.Title = "Home Page";
}

@section styles {
	@Styles.Render("~/Content/home")
}

@Html.Partial("Header")
@Html.Partial("PopularDestinations", Model)
@Html.Partial("Services")
@Html.Partial("Testimonials")

<a href="#" id="toTop" class="toTop fa fa-angle-up page-scroll"></a>