@{
    ViewBag.Title = "Home Page";
}

@section styles {
	@Styles.Render("~/Content/Views/Home/home.css")
}

@Html.Partial("Header")
@Html.Partial("Services")
@Html.Partial("PopularDestinations")
@Html.Partial("Testimonials")

<a href="#" id="toTop" class="toTop fa fa-angle-up"></a>